PySide6
sqlalchemy
pyperclip
pyinstaller
pylint
PyQtDarkTheme-fork
ezdxf
PyMuPDF
pillow
matplotlib

# requerimentos de desenvolvimento
black
isort
autoflake
pylint
flake8
pydocstyle
vulture
mypy
bandit
safety
radon
copydetect