# Ferramentas de análise e formatação de código
black==23.12.1
isort==5.13.2
flake8==7.0.0
mypy==1.8.0
bandit==1.7.6
radon==6.0.1
unimport==0.19.1
vulture==2.11
pyflakes==3.2.0
autopep8==2.0.4
rope==1.12.0
pydocstyle==6.3.0
mccabe==0.7.0
pip-check==2.8.1
pipdeptree==2.13.2

# Extensões para flake8
flake8-bugbear==23.12.15
flake8-import-order==0.18.2
flake8-docstrings==1.7.0
flake8-comprehensions==3.14.0
